langchain
langchain-core
langchain-community
langchain-huggingface
langchain-classic
langgraph
langchain-groq
selenium
webdriver-manager
beautifulsoup4
chromadb
sentence-transformers
python-dotenv
pydantic
requests
SpeechRecognition
pyaudio
pygame
openai
langchain-text-splitters
